<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <title>Home</title>
    </head>

    <body>
        <div th:replace="~{fragments/header :: header}"></div>

        <main>
            <div>
                <p id="welcome-text">Welcome, user <span id="adid-text" th:text="${adid}"></span></p>
            </div>

        </main>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
    
</html>
