body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    /* text-align: center; */
}

#header-title {
    text-align: center;
    font-size: 24px;
}

.container {
    /* text-align: center; */
}

#login-title {
    text-align: center;
    font-size: 20px;
    color: red;
}
