<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <title>Login</title>
    </head>
    
    <body>
        <div th:replace="~{fragments/header :: header}"></div>

        <main>
            <div class="container" id="login-form">
                <form id="login-form" action="#" th:action="@{/login}" th:object="${login}" method="post">
                    <label id="label-adid" for="input-adid">ADID</label>
                    <input id="input-adid" type="text" th:field="*{adid}">
        
                    <label id="label-password" for="input-password">Password</label>
                    <input id="input-password" type="password" th:field="*{password}">

                    <input id="submit-button" type="submit" name="submit" value="Login">
                </form>
            </div>
        </main>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>

</html>
